.button {
	margin-top: 4rem;
	height: 3rem;
	border-radius: 0.5rem;
	font-weight: 500;
	background: #ea4335;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	border: 0;

	transition: filter 0.2s;

	img {
		margin-right: 0.5rem;
	}

	&:hover {
		filter: brightness(0.9);
	}
}
